<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>關於我</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- begin #header -->
<div id="header">
	<div id="navcontainer">
    	<div id="navcontainerBox">
            <h1><a href="">關於我</a></h1>
            <ul id="navlist">
                <li id="active"><a href="http://p810034.github.io/html1/index.html">主頁</a></li>
                <li><a href="https://www.facebook.com/chulung.shin">Facebook</a></li>
                <li><a href="http://chulung-shin.blogspot.tw/">Blog</a></li>
                <li><a href="https://www.youtube.com/channel/UCSWNaPU4p-HDYwXubAp92Cg">Youtube</a></li>
                <li><a href="https://github.com/p810034">Github</a></li>
            </ul>
        </div>
    </div>
    <div class="iContainer">
        <div class="i">
            <img src="images/i.png" alt="" />
        </div>
        <div class="iContent">
        	<h1>Welcome</h1>
            <p>
                Hello!!我叫沈政龍，這是我在陳鍾誠教授的網路程式設計課程裡的第一個網頁，現在是第二頁我想不到要打什麼了。
            </p>
        </div>
        <div class="clearer"></div>
    </div>
</div>
